<div class="tile-half">
	<div class="tile small">
		<h3><?php echo $reports?></h3>
		<a class="btn" href="<?php echo base_url().'c_reports/addReport'; ?>">Add Report</a>
		<?php echo $filed_reports; ?>
	</div>
		
	<div class="tile small">
		<h3>map</h3>
		<div class="filter">
			<h4 class="selected">map</h4>
			<h4>chart</h4>
			<h4>list</h4>
		</div>
		<div id="mapbox">
		</div>
	</div>
	
	<div class="tile small">
		<h3>resources</h3>
		<div class="filter">
			<h4 class="selected">chart</h4>
			<h4>list</h4>
		</div>
		<a class="btn" href="<?php echo base_url().'c_resource/addResource'; ?>">Add Resource</a>
		<?php echo $resource_reports;?>
	</div>
</div>