/* CSS Document */
@font-face {
	font-family: 'Corbert Regular';
	src: url('fonts/Corbert_Regular_Regular.otf');
	font-weight: normal;
	font-style: normal;
	font-size: 1.3em;
}

body {
	width: 100%;
	margin: 0;
	font-family: Corbert Regular;
	background: #ddd !important;
	overflow: auto !important;
}
h3 {
	display: inline-block;
	width: 50%;
	font-size: 1.2em;
	margin: 0 0 2% 0 !important;
	font-weight: normal;
}
i{
	margin-right:10px;
}
div.filter h4 {
	margin:0;
	cursor: pointer;
	margin-left: 0;
	padding: 0.2em;
	margin: 0;
	display: inline-block
}
.selected {
	background: #000;
	color: white;
}
h4:hover {
	cursor: hand;
	background: #4e4e4e;
	color: #ffffff;
}
header, .content {
	border-radius: 2px;
}
header {
	margin: auto;
	padding:5px;
	background:#3f3f3f;
	border-bottom:2px solid #222;
}
header a img{
	width:10%;
}
.header-top {
	width: 100%;
	height: 60%;
}
.header-bottom {
	width: 100%;
	height: 40%;
}
.content {
	height: 90%;
	margin: auto;
	width: 95%;
	margin-top: 2em;
	padding-bottom: 10%;
}

.filter {
	float: right;
	border-top: 2px solid black;
}
footer {
	position: fixed;
	bottom: 0;
	box-shadow: inset 0 1px 4px -1px #000;
	-webkit-box-shadow: inset 0 1px 4px -1px #000;
	-o-box-shadow: inset 0 1px 4px -1px #000;
	-moz-box-shadow: inset 0 1px 4px -1px #000;
	margin-top: 30px;
	width: 100%;
	height: 100px;
	background: #999;
}

.search {
	float: right;
	width: 18%;
	height: 2em;
}
input[type=search] {
	margin-top: 4px;
	padding: 5%;
	width: 100%;
}
.date {
	float: right;
	color: #0088cc;
}

.notifications, .one, .two {
	display: inline-block;
}
.notifications h3, .one h3, .two h3 {
	margin-top: 0;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	padding-left: 5px;
}
.notifications {
	width: 40%;
	float: left;
	height: 45%;
	margin-bottom: 20px;
}
.one {
	width: 57%;
	float: right;
	height: 45%;
	margin-bottom: 20px;
}
.two {
	width: 100%;
	height: 50%;
	margin-bottom: 20px;
}
.left-sidebar {
	box-shadow: inset 0 0 4px 0.5px #000;
	-webkit-box-shadow: inset 0 0 4px 0.5px #000;
	-o-box-shadow: inset 0 0 4px 0.5px #000;
	-moz-box-shadow: inset 0 0 4px 0.5px #000;
	background: #999;
	height: 50%;
	width: 12%;
	display: inline-block;
	position: absolute;
	padding: 1%;
}
.menu ul {
	clear: all;
	padding: 0 0 0 2%;
	padding-top: 2%;
}

.menu a:hover {
	color: FF6600;
}
.user {
	float: right;
	padding: 1%;
}

/*

 body {
 background-color: grey;
 }

 @media screen and (max-width: 960px) {
 body {
 background-color: red;
 }
 }
 @media screen and (max-width: 768px) {
 body {
 background-color: orange;
 }
 }
 @media screen and (max-width: 550px) {
 body {
 background-color: yellow;
 }
 }
 @media screen and (max-width: 320px) {
 body {
 background-color: green;
 }
 }

 */
.nav, nav {
	display:inline-block;
	vertical-align:top;
	text-align: right;
	width: 80%;
	margin-top:10px;
	margin: 0 3% 0 0;
}
ul li a {
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: white !important;
}
ul li{
	
	background-color: rgb(47, 47, 47);
}
a:hover{
	color:#000;
}
.nav ul li, nav ul li {
	cursor: pointer;
	border-radius: 0.5em;
	display: inline-block;
	padding: 5px;
}
.nav ul li:hover, nav ul li:hover {
	cursor: hand;
	background: #ffffff;
	color: #000;
}
/**
 * 	Tiles
 */

.tile {
	padding: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 0px 1px 3px 0px #e3e3e3;
	box-shadow: 0px 1px 3px 0px rgba(112,112,112,0.05);
	height: 62%;
	margin-bottom:10px;
	overflow-y:auto;
}
.small {
	width: 31%;
}
.large {
	width: 63.8%;
}

#mapbox {
	
	margin-top: 0.5em;
	width: 100%;
	height: 81%;
	margin:auto;
}

.green {
	color: green;
}
.red {
	color: red;
}
.graph {
	width: 90%;
	height: 80%;
}
/**
 * 	Links
 */
.poverty {

}
.crime {

}
.incidents {

}
thead{
	background:#ddd;
}
